<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>事件管理</title>
    <link rel="icon" th:href="@{/images/favicon.ico}" type="image/gif" />
    <link th:href="@{/css/admin-common.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/css/comm.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/css/sjz_admin_index.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/css/sjz_paging.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/css/lsz_from.css}" rel="stylesheet" type="text/css" />
    <link th:href="@{/css/lsz_from.css}" rel="stylesheet" type="text/css" />
    <script th:src="@{/js/jquery-3.4.1.min.js}" type="text/javascript" />
    <script th:src="@{/js/common.js}" type="text/javascript" />
    <script th:src="@{/js/sjz_paging_v1.1.2.js}" type="text/javascript" />
    <script th:src="@{/js/utils.js}" type="text/javascript" />
    <script th:src="@{/js/common.js}" type="text/javascript" />

    <style type="text/css">
        ::-webkit-input-placeholder { /* WebKit browsers */
            color: #ffffff;
            font-size: 16px;
        }

        ::-moz-placeholder { /* Mozilla Firefox 19+ */
            color: #ffffff;
            font-size: 16px;
        }

        :-ms-input-placeholder { /* Internet Explorer 10+ */
            color: #ffffff;
            font-size: 16px;
        }

    </style>

    <script type="text/javascript">
        var pageVo =
            {   bUrl:"/admin/eventIndex/list",
                sBUrl:"_",
                dPageNo:1,
                dPageSize:25,
                bootstrapDiv:{
                    id_:"sjz_center_content_tbody"
                },
                rootDiv:{
                    class_:"sjz_center_content_tr"
                },
                voMapping:{
                    id:{
                        tagType:"text"
                    },
                    eventTime:{
                        tagType:"text_datetime",
                        dateFormat:"yyyy-MM-dd"

                    },
                    eventContent:{
                        tagType:"text",
                        show_length:50
                    },
                    eventType:{
                        tagType:"text_type",
                        typeMap:{
                            0:"文本",
                            20:"连接"
                        }
                    },
                    eventState:{
                        tagType:"text_type",
                        typeMap:{
                            0:"发布",
                            10:"待审核",
                            20:"审核通过",
                            30:"审核禁止"
                        }
                    },
                    u_d_operation:{
                        tagType:"a_operation",
                        indexName:"id",
                        updateHref:"/admin/event/toUpdate/",
                        updateTxt:"修改",
                        deleteHref:"/admin/eventIndex/delete/",
                        deleteTxt:"删除"
                    }
                },
                getUrl:function () {
                    return pageVo.bUrl;
                }
            };

    </script>
</head>
<body>
<div class="lsz-fluid">
    <div class="lsz-card">
        <div class="sjz_center_top_">
            <div id="sjz_center_top_search_">
                <form action="/admin/eventIndex/list/">
                    编号：<input type="text"  th:name="id"/>
                    日期：<input type="text"   th:name="startDate"/>-<input type="text" th:name="endDate"
                                                                       style="margin-left:0px"/>
                    状态：<select th:name="eventState">
                    <option value="-1">-全部-</option>
                    <option value="20">审核通过</option>
                    <option value="10">待审核</option>
                    <option value="0">发布</option>
                    <option value="30">审核失败</option>
                </select>
                    <input type="button" class="lsz-btn" value="查询"/>
                </form>
            </div>
            <div class="sjz_center_ad"><a href="/admin/toAddEventIndex">添加</a></div>
        </div>
        <div class="lsz-table-box">
            <table class="sjz_center_content">
                <thead>
                <tr>
                    <th style="width: 8%;"> 编号</th>
                    <th style="width: 10%;"> 事件时间</th>
                    <th> 事件</th>
                    <th style="width: 8%;"> 类型</th>
                    <th style="width: 8%;"> 状态</th>
                    <th style="width: 8%;"> 操作</th>
                </tr>
                </thead>
                <tbody id="sjz_center_content_tbody">

                </tbody>
            </table>
        </div>
        <div class="lsz-table-page">
            <div id="lsz-table-page1">
                <div class="ger_center_ ger_text_">
                    <div id="sjz_page_info"></div>
                    <a id="previous_page" href="javascript:void(0);" style="color: #1683a8;text-decoration:none">上一页</a>
                    <a id="next_page" href="javascript:void(0);" style="color: #1683a8;text-decoration:none">下一页</a>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>