<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>事件管理</title>
    <link rel="icon" th:href="@{/images/favicon.ico}" type="image/gif" />
    <link th:href="@{/css/comm.css}" rel="stylesheet" type="text/css" />
    <link href="/css/lsz_from.css?version=1.2" rel="stylesheet" type="text/css" />
    <script th:src="@{/js/jquery-3.4.1.min.js}" type="text/javascript" />
    <script th:src="@{/js/common.js}" type="text/javascript" />
    <script th:src="@{/js/utils.js}" type="text/javascript" />

    <!-- 单词选择遮罩层 -->
    <link th:href="@{/js/sjzPlugs/wordCheck.css}" rel="stylesheet" type="text/css" />
    <script th:src="@{/js/sjzPlugs/wordCheck.js}" type="text/javascript" />
    <style type="text/css" >
        ::-webkit-input-placeholder { /* WebKit browsers */
            color: #ddd;
            font-size: 16px;
        }

        ::-moz-placeholder { /* Mozilla Firefox 19+ */
            color: #ddd;
            font-size: 16px;
        }

        :-ms-input-placeholder { /* Internet Explorer 10+ */
            color: #ddd;
            font-size: 16px;
        }
    </style>

    <script type="text/javascript">
        $(document).ready(function(){
            $("#_show_word_list").bind("click",startDialogOpen);
        });
        workCheck = {
            checkType:"radio",
            checkedFun:function(obj){
                loadingEventTag(obj);
            },
            uncheckedFun:function(obj){
                $(" input[ type='wordMetaCode']").val("");
                $("#_show_word_list ~ p").remove();
            }
        }

        /**
         *
         * @param obj
         */
        function loadingEventTag(obj){

            $(" input[ type='wordMetaCode']").val("");
            $("#_show_word_list ~ p").remove();

            if(obj == null) return;
            if(obj == '') return;
            if(obj.length == 0) return;

            $(" input[ name='wordMetaCode' ]").val(obj.wordMetaCode);
            $p = $("<p></p>").attr("lsz-tag-id",obj.wordMetaCode).text(obj.wordMetaZh+"["+obj.wordMetaEn+"]");
            $p.append($("<i>ဆ</i>").bind('click',function(){
                $(this).parent().remove();
                $(" input[ name='wordMetaCode']").val("");
            }).addClass("lsz-icon").addClass("lsz-unselect").addClass("lsz-tab-close"));

            $("#_show_word_list").after($p);

        }

    </script>
</head>
<body>
<div class="lsz-fluid">
    <div class="lsz-card">
        <div>
            <div></div>
        </div>
        <form action="/admin/addEventIndex" method="post">
            <div class="sjz_center_ta lsz-row lsz-col-space10 lsz-form-item">
                <div>
                    <label class="lsz-form-label">时间：</label>
                    <div class="lsz-input-block">
                        <input type="text" name="eventTime" placeholder="yyyy-MM-dd" autocomplete="off"
                               class="lsz-input"/>
                    </div>
                </div>
                <div class="lsz-form-item">
                    <label class="lsz-form-label">标签：</label>
                    <div class="lsz-input-block" >
                        <input type="hidden" name="wordMetaCode" class="lsz-input lsz-input-tag"  />
                        <div id="_show_word_list">+</div>
                    </div>
                </div>
                <div class="lsz-form-item">
                    <label class="lsz-form-label">内容：</label>
                    <div class="lsz-input-block">
                        <textarea name="eventContent" placeholder=""
                                  class="lsz-textarea sjz_center_ta_tarea"></textarea>
                    </div>
                </div>
                <div class="lsz-form-item">
                    <label class="lsz-form-label">类型：</label>
                    <select name="eventType">
                        <option value="0">文本</option>
                        <option value="10">超链接</option>
                    </select>
                </div>
                <div class="lsz-form-item">
                    <div class="lsz-input-block">
                        <input class="lsz-btn" type="submit" value="立即提交"/>
                        <button type="reset" class="lsz-btn lsz-btn-primary">重置</button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>

<!-- 遮罩层 -->
<div id="_sjz_word_meta_div">
    <div class="box" >
        <div id="dialog" >
            <div id="_dialog_close" >X关闭</div>
            <div id="_sjz_word_meta_c">

            </div>
        </div>
    </div>
</div>
</body>
</html>